torch==2.0.1 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2 --index-url https://download.pytorch.org/whl/cu118
tqdm
mediapipe
Pillow
diffusers==0.18.2
transformers==4.30.2
hf_transfer
fire==0.5.0
huggingface_hub==0.20.3
imageio==2.31.1
imageio-ffmpeg
PyYAML
safetensors
wandb
gradio
plyfile==0.8.1
xformers==0.0.20
tensorboard==2.14.0
tensorboard-data-server==0.7.1
wandb==0.16.2
jaxtyping
einops
omegaconf
hydra-core
kornia==0.6.0
torchtyping==0.1.4