torch
torchvision
tqdm
mediapipe
Pillow
diffusers
transformers
hf_transfer
fire
huggingface_hub
imageio
imageio-ffmpeg
PyYAML
safetensors
wandb
gradio
plyfile
xformers
tensorboard
tensorboard-data-server
wandb
jaxtyping
einops
omegaconf
hydra-core
kornia
torchtyping
gsplat @ git+https://github.com/nerfstudio-project/gsplat.git
mpl_scatter_density