absl-py==2.2.1
accelerate==1.6.0
aiofiles==23.2.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
arrow==1.3.0
attrs==25.3.0
backports.tarfile==1.2.0
binaryornot==0.4.4
black==25.1.0
boltons==25.0.0
build==1.2.2.post1
CacheControl==0.14.2
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
conda_lock==3.0.0
contourpy==1.3.1
cookiecutter==2.6.0
crashtest==0.4.1
cryptography==44.0.2
cycler==0.12.1
diffusers==0.25.0
distlib==0.3.9
dnspython==2.7.0
docker-pycreds==0.4.0
dotenv==0.9.9
dulwich==0.22.8
einops==0.8.1
ensureconda==1.4.7
envidia==0.1.2
exceptiongroup==1.2.2
fast-histogram==0.14
fastapi==0.115.12
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.13.1
fire==0.7.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.44
gradio==3.50.2
gradio_client==0.6.1
groovy==0.1.2
grpcio==1.71.0
gsplat==1.4.0
h11==0.14.0
hf_transfer==0.1.9
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.24.0
hydra-core==1.3.2
identify==2.6.9
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
installer==0.7.0
isort==6.0.1
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jax==0.5.3
jaxlib==0.5.3
jaxtyping==0.3.1
jeepney==0.9.0
Jinja2==3.1.4
jsonpickle==4.0.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
kiwisolver==1.4.8
kornia==0.8.0
kornia_rs==0.1.8
labtasker==0.2.6
labtasker-plugin-script-generate==0.1.2
labtasker-plugin-task-count==0.1.1
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.1
mongomock==4.3.0
more-itertools==10.6.0
mpl-scatter-density==0.8
mpmath==1.3.0
msgpack==1.1.0
mslex==1.3.0
mypy-extensions==1.0.0
narwhals==1.33.0
natsort==8.4.0
networkx==3.3
ninja==1.11.1.4
nodeenv==1.9.1
noneprompt==0.1.9
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
omegaconf==2.3.0
opencv-contrib-python==4.11.0.86
opt_einsum==3.4.0
orjson==3.10.16
packaging==24.2
pandas==2.2.3
passlib==1.7.4
pathspec==0.12.1
peft==0.15.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.12.1.2
platformdirs==4.3.7
plyfile==1.1
pre_commit==4.2.0
prompt_toolkit==3.0.50
protobuf==4.25.6
psutil==7.0.0
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.11.1
pydantic-settings==2.8.1
pydantic_core==2.33.0
pydub==0.25.1
Pygments==2.19.1
pymongo==4.11.3
pyparsing==3.2.3
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.11.2
safehttpx==0.1.6
safetensors==0.5.3
scipy==1.15.2
# Editable Git install with no remote (sds_2d==0.0.1)
-e /mnt/pfs-mc0p4k/cvg/team/luochaofan/2d-sds
SecretStorage==3.3.3
semantic-version==2.10.0
semver==3.0.4
sentencepiece==0.2.0
sentinels==1.0.0
sentry-sdk==2.25.1
setproctitle==1.3.5
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
socksio==1.0.0
sounddevice==0.5.1
sse-starlette==2.2.1
stamina==25.1.0
starlette==0.46.1
sympy==1.13.1
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==3.0.1
text-unidecode==1.3
tokenizers==0.13.3
tomli==2.2.1
tomlkit==0.13.2
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchtyping==0.1.5
torchvision==0.21.0+cu118
tqdm==4.67.1
transformers==4.28.1
triton==3.2.0
trove-classifiers==2025.3.19.19
typeguard==2.13.3
typer==0.15.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
virtualenv==20.30.0
wadler_lindig==0.1.4
wandb==0.19.9
watchfiles==1.0.4
wcwidth==0.2.13
websockets==11.0.3
Werkzeug==3.1.3
xformers==0.0.29.post3
zipp==3.21.0
zstandard==0.23.0
